<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       View addons
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/movie11.jpg" >
    </ion-thumbnail>
    <ion-list>
    <ion-list-header>Now available in different flavours!</ion-list-header>
  
    <ion-item>
      <ion-label>Toppings</ion-label>
      <ion-select multiple="true" cancelText="Nah" okText="Okay!">
       <ion-select-option value="spicy curry"> Spicy curry</ion-select-option>
        <ion-select-option value=" chocolate"> Chocolate</ion-select-option>
        <ion-select-option value="butter treat"> Butter Treat</ion-select-option>
        <ion-select-option value="classic salted">Classic salted</ion-select-option>
       
      </ion-select>
      <ion-button color="primary" size="small">Select Topping</ion-button>
    </ion-item>
  
    <ion-item>
      <ion-label>Qty</ion-label>
      <ion-select multiple="true" cancelText="Nah" okText="Okay!">
       <ion-select-option value="One"> One</ion-select-option>
        <ion-select-option value="Two"> Two</ion-select-option>
        <ion-select-option value="Three"> Three</ion-select-option>
        <ion-select-option value="Four">Four</ion-select-option>
       
      </ion-select>
      <ion-button color="primary" size="small">Qty</ion-button>
    </ion-item>
  
  
  </ion-list>
  </ion-item>
  </ion-card>
  
  
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/movie12.jpg" >
      </ion-thumbnail>
      <ion-list>
      <ion-list-header>Choose your favourite!</ion-list-header>
    
      <ion-item>
        <ion-label>Drinks</ion-label>
        <ion-select multiple="true" cancelText="Nah" okText="Okay!">
         <ion-select-option value="Fanta"> Fanta</ion-select-option>
          <ion-select-option value="Sprite"> Sprite</ion-select-option>
          <ion-select-option value="Pepsi"> Pepsi</ion-select-option>
          <ion-select-option value="Coca cola">Coca cola</ion-select-option>
         
        </ion-select>
        <ion-button color="primary" size="small">Select drink</ion-button>
      </ion-item>
    
    
      <ion-item>
        <ion-label>Qty</ion-label>
        <ion-select multiple="true" cancelText="Nah" okText="Okay!">
         <ion-select-option value="One"> One</ion-select-option>
          <ion-select-option value="Two"> Two</ion-select-option>
          <ion-select-option value="Three"> Three</ion-select-option>
          <ion-select-option value="Four">Four</ion-select-option>
         
        </ion-select>
        <ion-button color="primary" size="small">Qty</ion-button>
      </ion-item>
    
    </ion-list>
    </ion-item>
    </ion-card>
  
  
  
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/movie13.jpg" >
        </ion-thumbnail>
        <ion-list>
        <ion-list-header> Choose your flavour!</ion-list-header>
      
        <ion-item>
          <ion-label>Flavour</ion-label>
          <ion-select multiple="true" cancelText="Nah" okText="Okay!">
           <ion-select-option value="Chocolate">  Chocolate</ion-select-option>
            <ion-select-option value=" Classic vanilla">  Classic Vanilla</ion-select-option>
            <ion-select-option value="Strawberry">  Strawberry</ion-select-option>
            <ion-select-option value="Pista"> Pista</ion-select-option>
            <ion-select-option value="Black current"> Black current</ion-select-option>
            <ion-select-option value="Kasata">  Kasata</ion-select-option>
          </ion-select>
          <ion-button color="primary" size="small">Select Flavour</ion-button>
        </ion-item>
      
        <ion-item>
          <ion-label>Qty</ion-label>
          <ion-select multiple="true"  okText="Done!">
           <ion-select-option value="One"> One</ion-select-option>
            <ion-select-option value="Two"> Two</ion-select-option>
            <ion-select-option value="Three"> Three</ion-select-option>
            <ion-select-option value="Four">Four</ion-select-option>
           
          </ion-select>
          <ion-button color="primary" size="small">Qty</ion-button>
        </ion-item>
      
      
      </ion-list>
      </ion-item>
      </ion-card>
  </ion-content>