
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Login Page
    </ion-title> -->
  </ion-toolbar>
</ion-header>


<ion-content  padding>
  
  
  
  
  <form >
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 class="b">Login Here</h3>
          </div>
          <div padding>
            <ion-card>
            <ion-item>
              <ion-input name="username" type="username"[(ngModel)]="username"
                
                 placeholder="Username" required><ion-icon name="person"></ion-icon></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password" required><ion-icon name="unlock"></ion-icon></ion-input>
            </ion-item>
            <br><br>
            <div>Forgot password? Click<a routerLink='/resetpassword'>
              here</a> </div>
            </ion-card>
            </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block" (click)="onLogin()">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div text-center>
      If you don't have an account, please <a routerLink='/register'>
        register</a> first!
        </div>
    
        <!-- <ion-img class="one" src="/assets/movie1.jpg"></ion-img> -->
        <div class="five">
        <ion-button color="tertiary" size="large"><ion-icon name="logo-facebook"></ion-icon></ion-button>
        <ion-button color="secondary" size="large"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      </div>
      </ion-row>
      
      
      
   
    </ion-grid>
  </form>
</ion-content>