// ion-item{
//     --background: #3880ff;
    
//     --color: #fff;
// }
ion-button{
    --background: #062f77;
}
// a{
//     color: #fff;
// }
.one{
    margin-left: 50px;
}
.five{
    // align-items: center;
    // text-align: center;
    margin-left: 100px;
    position: relative;
}
ion-card{
    
    
   --background-color:rgba(56, 129, 255, 0.123);
}

ion-title{
    color: #3880ff;
    
}
ion-content{
    --background: url('/assets/moviebg1.png');
    --background-size: cover;
     --background-position: center;
    --background-repeat:no-repeat;
}
ion-item{
    --background:rgba(56, 129, 255, 0.123);  
}
.b {
    color: #3880ff;  
}
ion-header{
    --background-color:rgba(56, 129, 255, 0.123);  
}  
