
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       Select Movies!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 

  <ion-tabs>

    <ion-tab-bar slot="top">
      <ion-tab-button >
        <ion-icon name="reverse-camera"></ion-icon>
        <ion-label><a routerLink='/viewbooking'>
          Viewbooking</a></ion-label>
      </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon name="exit"></ion-icon>
          <ion-label><a routerLink='/createbooking'>
            Createbooking</a></ion-label>
        </ion-tab-button>
  
       
          <ion-tab-button >
            <ion-icon name="ice-cream"></ion-icon>
            <ion-label><a routerLink='/viewaddons'>
              Viewaddons</a></ion-label>
          </ion-tab-button>
         
          
            <ion-tab-button >
              <ion-icon name="happy"></ion-icon>
              <ion-label><a routerLink='/viewoffers'>
                Viewoffers</a></ion-label>
            </ion-tab-button>
  </ion-tab-bar>
    </ion-tabs>



<br><br>





  <!-- <ul class="header">
  <li><a routerLink='/viewbooking'>View Booking</a></li>
  <li><a routerLink='/createbooking'>Create Booking</a></li>
  <li><a routerLink='/viewaddons'>View addons</a></li>
  <li><a routerLink='/viewoffers'>View offers</a></li>
</ul> -->

   

        <ion-card>
          <ion-card-subtitle class="one"> Crazy Rich Asians </ion-card-subtitle>
          <ion-card-content>
            <div>
            <ion-img class="three" src="/assets/movie5.jpg"></ion-img>
            <p class="four"> Rachel Chu is happy to accompany her longtime boyfriend, Nick, to his best friend's wedding in Singapore.</p>
            
            <ion-item>
           <ion-label>Ratings</ion-label>
              <ion-badge slot="end"> <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon> </ion-badge>
              <ion-badge slot="end">50<ion-icon name="thumbs-up"></ion-icon> </ion-badge>
        </ion-item>
        </div>
          <ion-item>
           <ion-label>Show dates</ion-label>
            <ion-badge slot="end">Fri22nd  </ion-badge>
            <ion-badge slot="end">Sat23rd </ion-badge>
      </ion-item>
      <ion-item>
       <ion-label>Show timings</ion-label>
        <ion-badge slot="end"> 9:15 am  </ion-badge>
        <ion-badge slot="end"> 1:30 pm </ion-badge>
      </ion-item>
      <ion-button color="light" size="small">Book movie</ion-button>
        </ion-card-content>
          </ion-card>
        
        
        
        <ion-card>
          <ion-card-subtitle class="one"> Star Wars </ion-card-subtitle>
          <ion-card-content>
            <div>
            <ion-img class="three" src="/assets/movie6.jpg"></ion-img>
           <p class="four"> A new order threatens to destroy the New Republic. Finn, Rey and Poe, backed by the Resistance and the Republic, 
            must find a way to stop them and find Luke, the last surviving Jedi.</p>
            <ion-item>
           <ion-label>Ratings</ion-label>
              <ion-badge slot="end"> <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon> </ion-badge>
              <ion-badge slot="end">68<ion-icon name="thumbs-up"></ion-icon> </ion-badge>
        </ion-item>
        </div>
          <ion-item>
           <ion-label>Show dates</ion-label>
            <ion-badge slot="end">Fri22nd  </ion-badge>
            <ion-badge slot="end">Sat23rd </ion-badge>
      </ion-item>
      <ion-item>
       <ion-label>Show timings</ion-label>
        <ion-badge slot="end"> 9:15 am  </ion-badge>
        <ion-badge slot="end"> 1:30 pm </ion-badge>
      </ion-item>
      <ion-button color="light" size="small">Book movie</ion-button>
        </ion-card-content>
          </ion-card>
        
        
        
        
      <ion-card>
          <ion-card-subtitle class="one"> Solo </ion-card-subtitle>
          <ion-card-content>
            <div>
            <ion-img class="three" src="/assets/movie7.jpg"></ion-img>
            <p class="four">A Pentagon-designed robot soldier with a heart ruins a covert operation and is on the run from his makers. 
            When he comes to a village of oppressed peasants, he uses his special skills to help them.</p>
            <ion-item>
           <ion-label>Ratings</ion-label>
              <ion-badge slot="end"> <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon> </ion-badge>
              <ion-badge slot="end">73<ion-icon name="thumbs-up"></ion-icon> </ion-badge>
        </ion-item>
        </div>
          <ion-item>
           <ion-label>Show dates</ion-label>
            <ion-badge slot="end">Fri22nd  </ion-badge>
            <ion-badge slot="end">Sat23rd </ion-badge>
      </ion-item>
      <ion-item>
       <ion-label>Show timings</ion-label>
        <ion-badge slot="end"> 9:15 am  </ion-badge>
        <ion-badge slot="end"> 5:40 pm </ion-badge>
      </ion-item>
      <ion-button color="light" size="small">Book movie</ion-button>
        </ion-card-content>
          </ion-card>

        
        
          <ion-card>
          <ion-card-subtitle class="one"> Frozen </ion-card-subtitle>
          <ion-card-content>
            <div>
            <ion-img class="three" src="/assets/movie8.jpg"></ion-img>
            <p class="four">Anna sets out on a journey with an iceman, Kristoff, and his reindeer, Sven, in order to find her sister, Elsa, who with the help of her powers mistakenly converts everything into ice.</p>
            <ion-item>
           <ion-label>Ratings</ion-label>
              <ion-badge slot="end"> <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon> </ion-badge>
              <ion-badge slot="end">67<ion-icon name="thumbs-up"></ion-icon> </ion-badge>
        </ion-item>
        </div>
          <ion-item>
           <ion-label>Show dates</ion-label>
            <ion-badge slot="end">Sat23rd  </ion-badge>
            <ion-badge slot="end">Sun24th </ion-badge>
      </ion-item>
      <ion-item>
       <ion-label>Show timings</ion-label>
        <ion-badge slot="end"> 9:15 am  </ion-badge>
        <ion-badge slot="end"> 1:30 pm </ion-badge>
      </ion-item>
      <ion-button color="light" size="small">Book movie</ion-button>
        </ion-card-content>
          </ion-card>
          
          <ion-card>
          <ion-item>
            <ion-thumbnail slot="start">
              <img class="two" src="/assets/movie8.jpg">
            </ion-thumbnail>
            <ion-label>Item Thumbnail</ion-label>
          </ion-item>
          <ion-item>
           
            <ion-label>My Item</ion-label>
            <ion-badge slot="end">80</ion-badge>
          </ion-item>
          <ion-item>
           
            <ion-label>My Item</ion-label>
            <ion-badge slot="end">22</ion-badge>
          </ion-item>
        </ion-card>



      </ion-content>
      
     