
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       Welcome!
    </ion-title>
  </ion-toolbar>
</ion-header>






<ion-content>
<ion-card class="welcome-card">
  <!-- <ion-img class="one"src="/assets/movie9.jpg"></ion-img> -->
  <ion-card-header>
    <ion-card-subtitle>  </ion-card-subtitle>
    <ion-card-title>What's On <br>All Movies,At all locations!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p id="one">Click to <a routerLink='/login'>
      login</a> </p>
  </ion-card-content>
  <!-- <ion-img class="one" src="/assets/movie1.jpg" ></ion-img> -->
</ion-card>
</ion-content>