ion-content{
    --background: url('/assets/movie20.jpg');
    --background-size: cover;
     --background-position: center;
    --background-repeat:no-repeat;
}
ion-card-title{
    color: white;
}
#one{
    color: white;
}
ion-title{
    background-color: #3880ff;
    color:whitesmoke;
}
